[submodule "libpwquality-sys/libpwquality"]
	path = libpwquality-sys/libpwquality
	url = https://github.com/libpwquality/libpwquality
[submodule "libpwquality-sys/cracklib"]
	path = libpwquality-sys/cracklib
	url = https://github.com/cracklib/cracklib
